body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: 100%;
} 

h2 {
  text-align: center;

}
.reg-box {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px auto;
    padding:10px; 
    border: 1px solid black;
    flex-wrap: wrap; 
    border-radius: 10px;
    width: 50%;
  }
  
  .input-text {
    width: 150px;
    padding:10px;
    margin: 5px;
  }

  .btn-center-submit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(52, 200, 52);
    margin: 5px
  }

  .member-box {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px auto;
    padding:10px; 
    border: 1px solid black;
    flex-wrap: wrap; 
    border-radius: 10px;
    width: 75%;
  }

  .member-table {
    width: 95%;
    text-align: left;
    border-collapse: collapse;
  }

  .member-thead {
    background-color: #dddddd;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
  }

  